<div id="chat_window_<%= receiver_id %>" class="chat_popup">
  <div id="chat_content_<%= receiver_id %>">
    <% messages.sort_by(&:created_at).each do |message| %>
      <% if message.sender.id == current_user.id %>
        <%= render "messages/sender", message: message %>
      <% else %>
        <%= render "messages/receiver", message: message %>
      <% end %>
    <% end %>
  </div>
  <%= render 'messages/message_form', sender_id: sender_id, receiver_id: receiver_id %>
  <button type="button" class = "btn btn-danger" onclick="closeForm()" id="close_btt">Close</button>
</div>

<script>
  function closeForm() {
      $('#chat_window_<%= receiver_id %>').css("display","none")
  }
</script>