<%= form_with(model: Message.new, remote: true, local: false, id: "abc") do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "send mess" %>
    <%= f.hidden_field :sender_id, value: sender_id %>
    <%= f.hidden_field :receiver_id, value: receiver_id %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary", id: "btn_submit" %>
  <span class="image">
      <%= f.file_field :image %>
  </span>
  <span class="document">
      <%= f.file_field :document %>
  </span>
<% end %>
