<div class="darker">
  <%= link_to gravatar_for(message.sender, size: 50), message.receiver %>
  <p><%= message.sender.name %></p>
  <p><%= message.content %></p>
  <%= image_tag message.display_image if message.image.attached? %>
  <% if message.document.attached? %>
    <%= link_to rails_blob_path(message.document, disposition: "attachment") do %>
      <%= message.document.filename %>
    <% end %>
  <% end %>
  <br>
  <span class="time_right"><%= message.created_at %></span>
</div>
