<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    <section class="send_message">
      <button type="button" class = "btn btn-primary" onclick="openForm()">Message</button>
      <% unless @user.id == current_user.id %>
      <button type="button" class = "btn btn-primary" onclick="openFormReport()">Report user</button>
      <% end %>
    </section>
    <section class="exports">
      <%= link_to "Export micropost", export_path(format: :csv) %>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>

<script>
  function openForm() {
    <%= sender_id = current_user.id %>
    <%= receiver_id = @user.id %>

    $('#chats').html(
      "<%= escape_javascript(render "messages/chat_form",
        messages: Message.pair_messages(sender_id, receiver_id),
        sender_id: sender_id, receiver_id: receiver_id
      ) %>"
    )
    $('#chat_window_<%= @user.id %>').css("display","block")
  }
  function openFormReport() {
    <%= reporter_id = current_user.id %>
    <%= reported_id = @user.id %>

    $('#chats').html(
      "<%= escape_javascript(render "reports/form",
        reporter_id: reporter_id, reported_id: reported_id
      ) %>"
    )
  }
</script>
